.shopping-cart {
  background-color: black; 
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px; 
  margin: 0 auto;
  text-align: center;
}

.shopping-cart h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #ff1493; 
}

.product-list {
  display: flex; 
  justify-content: space-between; 
}

.product {
  width: 30%; 
  text-align: center;
}

.product img {
  width: 100px;
  height: 100px; 
  object-fit: cover; 
  border-radius: 5px; 
}


.product p {
  margin-top: 10px;
}

.custom-button {
  background-color: #ff1493; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #ff69b4; 
}

.cart-summary {
  margin-top: 40px;
}
